<jhi-page-ribbon></jhi-page-ribbon>
<jhi-navbar></jhi-navbar>
<div class="app-body">
  <p-growl></p-growl>
  <ngx-loading-bar></ngx-loading-bar>
  <jhi-sidebar></jhi-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <jhi-breadcrumbs></jhi-breadcrumbs>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" [routerLink]="['']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li>
    </ol>
    <div class="container-fluid">
	  <router-outlet></router-outlet>
	  <router-outlet name="popup"></router-outlet>
    </div>
  </main>
  <jhi-aside></jhi-aside>
</div>
<jhi-footer></jhi-footer>
<p-confirmDialog></p-confirmDialog>