<header class="app-header navbar" [ngSwitch]="isAuthenticated()">
    <button class="navbar-toggler d-lg-none" type="button" jhiMobileSidebarToggler>
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler d-md-down-none mr-auto" type="button" jhiSidebarToggler>
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav ml-auto">
        <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                <span>
                    <fa-icon [icon]="'user-plus'"></fa-icon>
                    <span jhiTranslate="global.menu.admin.main">Administration</span>
                </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu>
                <li>
                    <a class="dropdown-item" routerLink="/admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon [icon]="'user'"></fa-icon>
                        <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/admin/jhi-tracker" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon [icon]="'eye'"></fa-icon>
                        <span jhiTranslate="global.menu.admin.tracker">User tracker</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/admin/jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon [icon]="'tachometer-alt'"></fa-icon>
                        <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/admin/jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon [icon]="'heart'"></fa-icon>
                        <span jhiTranslate="global.menu.admin.health">Health</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/admin/jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon [icon]="'list'"></fa-icon>
                        <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon [icon]="'bell'"></fa-icon>
                        <span jhiTranslate="global.menu.admin.audits">Audits</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon [icon]="'tasks'"></fa-icon>
                        <span jhiTranslate="global.menu.admin.logs">Logs</span>
                    </a>
                </li>
                <li *ngIf="swaggerEnabled">
                    <a class="dropdown-item" routerLink="/admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon [icon]="'book'"></fa-icon>
                        <span jhiTranslate="global.menu.admin.apidocs">API</span>
                    </a>
                </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                <li *ngIf="!inProduction">
                    <a class="dropdown-item" href='./h2-console' target="_tab" (click)="collapseNavbar()">
                        <fa-icon [icon]="'hdd'"></fa-icon>
                        <span jhiTranslate="global.menu.admin.database">Database</span>
                    </a>
                </li>
            </ul>
        </li>
        <li ngbDropdown class="nav-item d-md-down-none" *ngIf="languages" dropdown placement="auto">
            <a class="nav-link" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                <fa-icon [icon]="'flag'"></fa-icon>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                <li *ngFor="let language of languages">
                    <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                </li>
            </ul>
        </li>
        <li ngbDropdown class="nav-item d-md-down-none" dropdown placement="auto">
            <a class="nav-link" ngbDropdownToggle href="javascript:void(0);" dropdownToggle (click)="true">
                <span *ngIf="!getImageUrl()">
                    <fa-icon [icon]="'user'"></fa-icon>
                    <span jhiTranslate="global.menu.account.main">Account</span>
                </span>
                <span *ngIf="getImageUrl()">
                    <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu>
                <li *ngSwitchCase="true">
                    <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon [icon]="'wrench'"></fa-icon>
                        <span jhiTranslate="global.menu.account.settings">Settings</span>
                    </a>
                </li>
                <li *ngSwitchCase="true">
                    <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon [icon]="'clock'"></fa-icon>
                        <span jhiTranslate="global.menu.account.password">Password</span>
                    </a>
                </li>
                <li *ngSwitchCase="true">
                    <a class="dropdown-item" (click)="logout()" id="logout">
                        <fa-icon [icon]="'sign-out-alt'"></fa-icon>
                        <span jhiTranslate="global.menu.account.logout">Sign out</span>
                    </a>
                </li>
                <li *ngSwitchCase="false">
                    <a class="dropdown-item" (click)="login()" id="login">
                        <fa-icon [icon]="'sign-in-alt'"></fa-icon>
                        <span jhiTranslate="global.menu.account.login">Sign in</span>
                    </a>
                </li>
                <li *ngSwitchCase="false">
                    <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon [icon]="'user-plus'"></fa-icon>
                        <span jhiTranslate="global.menu.account.register">Register</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <button class="navbar-toggler d-md-down-none" type="button" jhiAsideMenuToggler>
        <span class="navbar-toggler-icon"></span>
    </button>
</header>